{% extends "community_base.html" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-auto">
                <a href="{% url 'community:create_post' %}" class="btn btn-dark text-white">글 작성</a>
            </div>
        </div>
        <div class="row">
            {% for post in posts %}
            <div class="col-md-3 mb-4">
                <div class="card mb-3 box-shadow" style="width: 300px;">
                    <img class="card-img-top" src="{{ post.community_img.url }}" alt="{{ post.community_title }}" style="height: 225px; width: 100%; display: block;">
                        <div class="card-body">
                                <h5 class="card-text">
                                <!--  게시글 제목 클릭하면 상세 페이지로 이동 -->
                                <a href="{% url 'community:post_detail' pk=post.pk %}" style="text-decoration: none; color: inherit;">
                                    {{ post.community_title }}
                                </a>
                            </h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <p>
                                    <i class="bi bi-heart-fill" style="color: red;"></i>
                                    <small class="text-muted">{{ post.community_like }}</small>
                                </p>
                                <p><small class="text-muted">{{ post.community_date|date:'Y년 m월 d일'  }}</small></p>
                            </div>
                        </div>
                </div>
            </div>
            {% empty %}
            <div class="col-md-12">
                <p>작성된 게시글이 없습니다.</p>
            </div>
            {% endfor %}
        </div>
    </div>



    <!-- 페이지 링크 표시 -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-auto">
                <ul class="pagination">
                    {% if posts.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">이전</a></li>
                    {% endif %}
                    <li class="page-item active"><a class="page-link" href="?page={{ posts.number }}">{{ posts.number }}</a></li>
                    {% if posts.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">다음</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ posts.paginator.num_pages }}">&raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
