{% extends "community_base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <!-- 카테고리 -->
            <p>{{ community.community_category.community_cat_name }}</p>
            <!-- 게시글 -->
            <div class="mb-4">
                <!-- 제목 -->
                <h3>{{ community.community_title }}</h3>
                <hr>
                <!-- 이미지 -->
                {% if community.community_img %}
                    <img src="{{ community.community_img.url }}" alt="{{ community.community_title }}" class="img-fluid">
                {% endif %}

                <!-- 본문 -->
                <p>{{ community.community_content }}</p>
                <p style="color: rgb(178, 178, 178); text-align: left; font-size: 12px; display: inline-flex;">
                    {{ community.community_date|date:'Y년 m월 d일' }}﹒좋아요 {{ community.community_like }}﹒
                    <!-- 게시글 좋아요 버튼 -->
                    {% if user.is_authenticated %}
                        {% if request.user.customer %}
                            {% if request.user.customer in community.liked_by.all %}
                                <!-- 사용자가 고객 계정이며, 게시글을 이미 좋아요한 경우 -->
                                <form action="{% url 'community:unlike_post' community.pk %}" method="post" style="display: inline;">
                                    {% csrf_token %}
                                    <button type="submit" style="border: none; background-color: transparent;"><i class="bi bi-heart-fill" style="color: red;"></i></button>
                                </form>
                            {% else %}
                                <!-- 사용자가 고객 계정이며, 게시글을 아직 좋아요하지 않은 경우 -->
                                <form action="{% url 'community:like_post' community.pk %}" method="post" style="display: inline;">
                                    {% csrf_token %}
                                    <button type="submit" style="border: none; background-color: transparent;"><i class="bi bi-heart" style="color: red;"></i></button>
                                </form>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <!-- 사용자가 고객 계정이 아닌 경우 -->
                        <form action="{% url 'community:like_post' community.pk %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" style="border: none; background-color: transparent;"><i class="far fa-heart" style="color: black;"></i></button>
                        </form>
                    {% endif %}
                    
                    <!-- 상품 링크, product 연결, 선택된 상품 정보 표시 -->
                    {% if selected_products %}
                        <div id="selected-product-info" style="margin-top: 10px; margin-bottom: 10px; display: flex; flex-wrap: wrap; gap: 10px;">
                            {% for selected_product in selected_products %}
                                <!-- 선택된 상품 정보 컨테이너 -->
                                <div style="border: 1px solid #ddd; border-radius: 5px; padding: 10px; display: flex; flex-direction: column; align-items: center; justify-content: center; width: 115px; height: 145px; overflow: hidden;">
                                    <!-- 각 상품 링크 -->
                                    <a href="{{ selected_product.get_absolute_url }}" target="_blank" style="text-decoration: none; display: flex; flex-direction: column; align-items: center; width: 100%;">
                                        <!-- 선택된 상품 이미지 -->
                                        <img src="{{ selected_product.product_img.url }}" alt="{{ selected_product.product_name }}" style="max-width: 100px; height: auto; align-items: center; margin-top: 5px; margin-bottom: 10px;">
                                        <!-- 선택된 상품 이름 -->
                                        <div style="width: 100%; overflow: hidden; text-align: center;">
                                            <p style="font-size: 13px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin: 0;"><strong>{{ selected_product.product_name }}</strong></p>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}







                </p>

                <!-- 작성자 닉네임 및 수정 삭제 버튼 // 팔로우 버튼 추가해야함 --> 
                <div style="display: flex; align-items: center; justify-content: space-between;">
                    <div style="display: flex; align-items: center;">
                        <div style="display: inline-block; overflow: hidden; border-radius: 300%; width: 50px; height: 50px; flex-shrink: 0; position: relative;">
                            <img src="{{ community.customer.cus_img.url }}" style="width: 100%; height: 100%; object-fit: cover;">
                        </div>
                        <div style="margin-left: 5px;">
                            <p class="mb-0" style="font-size: 15px;"><strong>{{ community.customer.cus_nickname }}</strong></p>
                        </div>
                        {% if is_other_customer %}
                            <button type="button" id="follow" data-user-id="{{ customer.user_id }}" data-authentication="{{ is_authenticated }}">
                                {% if is_following %}
                                    Unfollowing
                                {% else %}
                                    Following
                                {% endif %}
                            </button>
                            <p id="message"></p>
                        {% endif %}
                    </div>
                    {% if request.user.customer == community.customer %}
                    <div>
                        <a href="{% url 'community:edit_post' community.pk %}" style="color: rgb(165, 165, 165); font-size: 15px; text-decoration: underline;">수정</a>
                        <a href="{% url 'community:delete_post' community.pk %}" style="color: rgb(165, 165, 165); font-size: 15px; text-decoration: underline;">삭제</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            
            
            <!-- 댓글 작성-->
            <div class="mt-4 mb-4"> <!-- 여기서 mb-4를 추가하여 아래로 여백을 줍니다. -->
                <p class="mb-2" style="font-size: 18px;"><strong>댓글</strong></p>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea name="community_comment_content" class="form-control" rows="1"></textarea>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-dark text-white mt-2 btn-sm">입력</button>
                    </div>                    
                </form>
            </div>

            
            <!-- 댓글 리스트 -->
            {% if comments %}
            <!-- 작성된 댓글 박스 표시 -->
            <!-- <ul class="list-group mt-4"> -->
            {% for comment in comments %}
            <li class="list-group-item ">
                <!-- 작성자 -->
                <div style="display: flex; align-items: top; justify-content: space-between;">
                    <div style="display: flex;">
                        <div style="overflow: hidden; border-radius: 50%; width: 50px; height: 50px; flex-shrink: 0;">
                            <img src="{{ comment.customer.cus_img.url }}" style="width: 100%; height: 100%; object-fit: cover;">
                        </div>
                        
                        <div style="margin-left: 10px;">
                            <p class="mb-1" style="font-size: 18px;"><strong>{{ comment.customer.cus_nickname }}</strong></p>
                            <p class="mb-0" style="font-size: 15px;">{{ comment.community_comment_content }}</p>
                            <p class="mb-0" style="color: rgb(178, 178, 178); text-align: left; font-size: 12px; display: inline-flex;">

                                {{ comment.community_comment_date|date:'Y년 m월 d일' }}﹒좋아요 {{ comment.community_comment_like }}﹒

                                <!-- 좋아요 버튼 -->
                                {% if user.is_authenticated %}
                                <div style="display: inline-block; margin-left: 1px; align-items: center;">
                                    {% if request.user.customer %}
                                    {% if request.user.customer in comment.liked_by.all %}
                                    <!-- 사용자가 고객 계정이며, 댓글을 이미 좋아요한 경우 -->
                                    <form action="{% url 'community:unlike_comment' comment.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" style="border: none; background-color: transparent;"><i class="bi bi-heart-fill" style="color: red;"></i></button>
                                    </form>
                                    {% else %}
                                    <!-- 사용자가 고객 계정이며, 댓글을 아직 좋아요하지 않은 경우 -->
                                    <form action="{% url 'community:like_comment' comment.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" style="border: none; background-color: transparent;"><i class="bi bi-heart" style="color: red;"></i></button>
                                    </form>
                                    {% endif %}
                                    {% else %}
                                    <!-- 사용자가 고객 계정이 아닌 경우 -->
                                    <form action="{% url 'community:like_comment' comment.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" style="border: none; background-color: transparent;"><i class="far fa-heart" style="color: black;"></i></button>
                                    </form>
                                    {% endif %}
                                </div>
                                {% endif %}  
                            </p>
                        </div>
                    </div>
                    <!-- 댓글 삭제 및 수정 링크 -->
                    <div style="display: flex;">
                        {% if request.user.customer == comment.customer %}
                        <div style="margin-left: auto;">
                            <a href="{% url 'community:edit_comment' comment.id %}" style="color: rgb(165, 165, 165); font-size: 12px; text-decoration: underline;">수정</a>
                            <a href="{% url 'community:delete_comment' comment.id %}" style="color: rgb(165, 165, 165); font-size: 12px; text-decoration: underline;">삭제</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </li>
            {% endfor %}
            </ul>
            {% else %}
            <p class="text-muted mt-2">작성된 댓글이 없습니다.</p>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');

        const follow = function(userId, element) {
            const xhr = new XMLHttpRequest();
            xhr.open('POST', '{% url "follow_and_unfollow" %}', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.setRequestHeader('X-CSRFToken', csrftoken);  // CSRF token 설정

            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    const response = JSON.parse(xhr.responseText);
                    document.getElementById('message').innerText = response.message;
                    if (response.check) {
                        element.textContent = 'Unfollowing';
                    } else {
                        element.textContent = 'Following';
                    }
                }
            };

            xhr.send(`user_id=${userId}`);
        };

        followButton = document.getElementById('follow');
        followButton.addEventListener('click', function() {
            userId = this.getAttribute('data-user-id');
            isAuthenticated = parseInt(this.getAttribute('data-authentication'));
            if (!!isAuthenticated === false) {
                window.location.href = '{% url "users:login" %}'
                return;
            }
            follow(userId, this);
        })
    });
</script>
{% endblock %}