{% extends "store_base.html" %}
{% load humanize %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/store/home.css' %}">
{% endblock %}

{% block content %}    
    <div class="title-container">
        <h2>새로 등록한 상품</h2>
    </div>
<div class="products">
  {% for product, discounted_price in products_with_discount %}
    <div class="product">
      <img src="{{ product.product_img.url }}" alt="{{ product.product_name }}">
      <a href="{{ product.get_absolute_url }}"><h6>{{ product.product_name }}</h6></a>
      <p>{{ discounted_price|floatformat:0|intcomma }}원</p>
    </div>
  {% empty %}
    <p>등록된 상품이 없습니다.</p>
  {% endfor %}
</div>

<div class="title-container">
    <h2>상품문의</h2>
</div>
<a href="{% url 'inquiry:store_list' %}">상품문의 게시판 바로가기</a>
{% endblock %}