{% extends "noncategory_base.html" %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/profile_edit.css' %}">
{% endblock %}


{% block content %}
    <title>판매자 회원가입</title>
    <div class="title-container">
        <h2>판매자 회원가입</h2>
    </div>
    <form action="{% url 'users:store_signup' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="회원가입">
    </form>
{% endblock %}