{% extends "store_base.html" %}
{% load humanize %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/store_page.css' %}">
{% endblock %}

{% block content %}
<h3>정산내역</h3>
<p>정산내역 연결</p>

<br>

<h3>새로 등록한 상품</h3>
<div class="products">
  {% for product, discounted_price in products_with_discount %}
    <div class="product">
      <img src="{{ product.product_img.url }}" alt="{{ product.product_name }}">
      <a href="{{ product.get_absolute_url }}"><h6>{{ product.product_name }}</h6></a>
      <p>{{ discounted_price|floatformat:0|intcomma }}원</p>
    </div>
  {% empty %}
    <p>등록된 상품이 없습니다.</p>
  {% endfor %}
</div>

<br>

<h3>상품문의</h3>
<a href="{% url 'inquiry:QnA_list' %}">상품문의 게시판 바로가기</a>
{% endblock %}
