{% extends "noncategory_base.html" %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/find.css' %}">
{% endblock %}

{% block content %}
<div class="title-container">
    <h2>아이디 찾기</h2>
</div>

<div class="box">
    <p>가입하신 이메일을 입력하시면 등록된 아이디를 찾을 수 있습니다.</p>
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
    <form action="{% url 'users:find_username' %}" method="POST">
        {% csrf_token %}
        <label for="email">이메일:</label>
        <input type="email" name="email" required>
        <input type="submit" value="아이디 찾기">
    </form>
</div>

{% endblock %}