/* 웹 폰트 임포트 */
.nanum-gothic-regular {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Nanum Gothic", Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* 헤더 스타일 */
.title-container {
    background-color: #fff; /* 상단 배경 색상 */
    color: #333; /* 텍스트 색상 */
    padding: 20px;
    text-align: left;
    margin-bottom: 20px; /* 하단 여백 */
    border-bottom: 2px solid #3f3f3f; /* 검정색 밑줄 */
}

.title-container h2 {
    font-size: 32px; /* 글자 크기 조정 */
    font-weight: bolder;
    margin-bottom: 5px; /* 하단 여백 */
}

.custom-card {
    width: 250px;
}

.card-img-top {
    height: 225px;
    width: 100%;
    display: block;
}

.product-link {
    text-decoration: none;
    color: inherit;
}
