/* detail.css */
.product-detail {
    display: flex;
    align-items: flex-start; 
    width: 90%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.products a {
    text-decoration: none;
    color: black;
    flex-direction: column;
    align-items: center;
    border: none;
}

.product-detail img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
}

.product-info {
    margin-left: 50px;
    flex-grow: 1;
    text-align: left;
}

.product-info h1 {
    margin-top: 0px;
}

.product-info h2 {
    margin-top: 30px;
}

.product-info h5 {
    margin-top: 30px;
    color: #5a5a5a;
}

.product-info h5 del {
    color: #bababa;
}

.product-info p {
    margin-top: 30px;
}

.store-button {
    padding: 5px 5px;
    background-color: #2d3743;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 35px;
    align-self: flex-start;
}

.product-form {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.horizontal-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.horizontal-form .form-group {
    flex: 1;
    margin-right: 5px;
}

.horizontal-form .form-group:last-child {
    margin-right: 0;
}
