.store-name {
    margin-bottom: 20px; /* 스토어 이름 아래에 20px의 마진 추가 */
}

.page-title {
    margin-top: 20px; /* 페이지 타이틀 위에 20px의 마진 추가 */
}

/* Additional styles for product list */
.product-table {
    width: 100%;
    border-collapse: collapse;
}

.product-table th, .product-table td {
    border: 1px solid #ddd;
    text-align: center;
}

.product-table thead tr {
    background-color: #f2f2f2;
}

.product-table th {
    background-color: #f2f2f2;
}

.product-description {
    max-width: 300px; /* Limiting product description width */
}

.product-buttons {
    text-align: center;
}

.product-buttons a {
    text-decoration: none;
}

.product-buttons button {
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
}

.product-buttons button:hover {
    background-color: #ff6666;
}
