.card {
    width: 250px;
}

.card-img-top {
    height: 225px;
    width: 100%;
    display: block;
}

.card-text a {
    text-decoration: none;
    color: inherit;
}

.text-muted {
    font-size: 14px;
}

.container {
    margin-top: 20px;
}
