/* 웹 폰트 임포트 */
@font-face {
    font-family: 'NanumSquare';
    src: url('/static/fonts/NanumBarunGothicBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* 일반 페이지 스타일 */
body {
    font-family: 'NanumSquare', Arial, sans-serif;
    color: #333;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* 컨테이너 스타일 */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* 헤더 스타일 */
.header {
    background: #0c2b4d; /* 상단 배경 색상 */
    color: white;
    padding: 40px 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 32px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

/* Styles for question title */
h1, h2, h3 {
    color: #333;
    font-family: 'NanumSquare', Arial, sans-serif;
    font-weight: bold;
}

/* Styles for question content */
p {
    color: #666;
    font-family: 'NanumSquare', Arial, sans-serif;
}

/* Styles for date */
small {
    color: #999;
    font-size: 12px;
}

/* Styles for answers */
.answer {
    margin-bottom: 20px;
}

/* Styles for buttons */
button {
    background-color: #0c2b4d;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #0056b3;
}

/* Styles for hr */
hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}

/* Styles for box */
.box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}
