/* 웹 폰트 임포트 */
@font-face {
    font-family: 'NanumSquare';
    src: url('/static/fonts/NanumSquareB.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumBarunBold';
    src: url('/static/fonts/NanumBarunGothicBold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'NanumSquare', Arial, sans-serif;
    margin: 20px;
    background-color: #f1f1f1;
}

h1, h2 {
    font-family: 'NanumBarunBold', Arial, sans-serif;
}

h1 {
    color: #222;
    text-align: center;
    margin-bottom: 40px;
}

h2 {
    color: #444;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#faq, #one-to-one {
    margin-bottom: 40px;
}

#faq ul {
    list-style: none;
    padding: 0;
}

#faq li {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#faq h3 {
    color: #000;
    margin-bottom: 10px;
}

#faq p {
    color: #555;
    line-height: 1.6;
    font-size: 1.5em; /* 글씨 크기를 조절할 수 있습니다 */
}

#one-to-one a {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#one-to-one a:hover {
    background-color: #333;
    transform: scale(1.05);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 40px;
}

section h2 {
    font-size: 1.75em;
    margin-bottom: 10px;
    color: #000;
}

section p {
    font-size: 1em;
    color: #555;
}
