{% extends 'main_base.html' %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'logistics/cat_products.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h4>{{ category.category_name }}</h4>
        {% if products %}
            <div class="row">
                {% for product in products %}
                    <div class="col-md-3">
                        <div class="card mb-3 box-shadow custom-card">
                            <img class="card-img-top" src="{{ product.product_img.url }}" alt="{{ product.product_name }}">
                            <div class="card-body">
                                <p class="card-text">
                                    <a href="{{ product.get_absolute_url }}" class="product-link">{{ product.product_name }}</a>
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">{{ product.product_sale }}%</small>
                                    <small class="text-muted">{{ product.product_price }}원</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>이 카테고리에는 현재 등록된 상품이 없습니다.</p>
        {% endif %}
    </div>
{% endblock %}
