/* 웹 폰트 임포트 */
.nanum-gothic-regular {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Nanum Gothic", Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* 헤더 스타일 */
.title-container {
    background-color: #fff; /* 상단 배경 색상 */
    color: #333; /* 텍스트 색상 */
    padding: 10px;
    text-align: left;
    margin-bottom: 20px; /* 하단 여백 */
    border-bottom: 2px solid #3f3f3f; /* 검정색 밑줄 */
}

.title-container h2 {
    font-size: 28px; /* 글자 크기 조정 */
    font-weight: bolder;
    margin-bottom: 5px; /* 하단 여백 */
}

/* 구매내역 스타일 */
.orders {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
}

.order {
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.orders a {
    text-decoration: none;
    color: black;
    border: none;
}

.order img {
    width: 100%;
    height: 180px;
    max-height: 200px;
    object-fit: cover;
}

.order h6 {
    background-color: #f7f7f7;
    width: 100%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    margin: 0;
}

.order p {
    padding: 0 10px;
    margin: 10px 0;
    font-size: 15px;
    text-align: right;
    width: 100%;
}

/* 스토어찜 스타일 */
.table {
    width: 100%;
    margin-bottom: 20px;
    background-color: #fff;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
    text-align: left;
    border-top: 1px solid #ddd;
    text-align: center;
}

.table th {
    background-color: #f7f7f7;
    font-weight: bold;
}

.table a {
    text-decoration: none;
    color: #4b4b4b;
}

.table a:hover {
    text-decoration: underline;
}

/* 장바구니 스타일 */
.cart-link {
    display: block;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    color: #007bff;
    text-decoration: none;
    margin-bottom: 20px;
}

.cart-link:hover {
    background-color: #f7f7f7;
}

/* 커뮤니티 게시글 스타일 */
.community-posts {
    margin-bottom: 20px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
}

.card-img-top {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
}

.card-text a {
    text-decoration: none;
    color: #333;
}

.card-text a:hover {
    text-decoration: underline;
}

.card-body p {
    margin: 0;
}

/* 팔로우/팔로잉 스타일 */
.table-follow {
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table-follow th, .table-follow td {
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ddd;
}

.table-follow th {
    background-color: #f7f7f7;
    font-weight: bold;
}
