<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
</head>
<body>
    <h1>Payment Details</h1>
    <p>Merchant UID: {{ payment_props.merchant_uid }}</p>
    <p>Name: {{ payment_props.name }}</p>
    <p>Amount: {{ payment_props.amount }}</p>
    <form action="{{ payment_verify_url }}" method="post">
        {% csrf_token %}
        <button type="submit">Verify Payment</button>
    </form>
</body>
</html>
