{% extends "noncategory_base.html" %}

{% block content %}
<h2>즉시 탈퇴하기</h2>
<p>즉시 탈퇴합니다.</p>
<p>모든 정보가 즉시 삭제됩니다.</p>
<p>숨겨진 상품들이 모두 삭제됩니다.</p>

<form method="post" action="{% url 'users:account_delete_now' %}" onsubmit="confirmDeleteNow(event)">
    {% csrf_token %}
    <!-- 아이디 입력란 -->
    <input type="text" name="username" placeholder="아이디">
    <!-- 비밀번호 입력란 -->
    <input type="password" name="password" placeholder="비밀번호">
    <button type="submit">계정 삭제</button>
</form>

<script>
    function confirmDeleteNow(event) {
        // '회원 탈퇴를 취소하시겠습니까?' 안내 메시지
        const isConfirmed = confirm('즉시 탈퇴하시겠습니까?');
        if (isConfirmed) {
            
        } else {
            // [아니오]를 선택했을 경우, 폼 제출을 중단
            event.preventDefault();
        }
    }
</script>

{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<a href="{% url 'users:login' %}">로그인 화면으로</a> 


{% endblock %}