{% extends "noncategory_base.html" %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/done.css' %}">
{% endblock %}

{% block content %}
<div class="title-container">
  <h2>비밀번호가 성공적으로 변경되었습니다!</h2>
</div>
{% if user.is_authenticated %}
  {% if user.is_store %}
    <a href="{% url 'users:store_home' %}">
  {% elif user.is_customer %}
    <a href="{% url 'logistics:main' %}">
  {% endif %}
{% endif %}
<div class="button">Home</div>
</a>
{% endblock %}
