{% extends "noncategory_base.html" %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/login_password/edit_password_done.css' %}">
{% endblock %}

{% block content %}
<h2 class="success-message">비밀번호가 성공적으로 변경되었습니다!</h2>
<br>
<div class="custom-button">
  {% if user.is_authenticated %}
    {% if user.is_store %}
      <a href="{% url 'users:store_home' %}">
    {% elif user.is_customer %}
      <a href="{% url 'logistics:main' %}">
    {% endif %}
  {% endif %}
  <div class="button-box">Home</div>
  </a>
</div>
{% endblock %}
