{% extends "store_base.html" %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'inquiry_support/answer.css' %}">
{% endblock %}

{% block content %}
    <div class="title-container">
        <h2>상품문의 답변</h2>
    </div>

    <div class="question-section">
        <p><strong>제목:</strong> {{ question.question_title }}</p>
        <p><strong>내용:</strong> {{ question.question_content }}</p>
    </div>
    <div class="answer-section">
        <p><strong>제목:</strong> {{ question.question_title }}</p>
        <p><strong>내용:</strong> {{ question.question_content }}</p>
        <h2>답변</h2>
        <form method="post" >
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="submit-button">질문 등록</button>
        </form>
    <a href="{% url 'inquiry:store_list' %}">목록보기</a>
    </div>
{% endblock %}
