{% extends "store_base.html" %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'inquiry/answer.css' %}">
{% endblock %}

{% block content %}
    <div class="title-container">
        <h2>상품문의 답변</h2>
    </div>

    <div class="question-section">
        <p><strong>제목:</strong> {{ question.question_title }}</p>
        <p><strong>내용:</strong> {{ question.question_content }}</p>
    </div>

    <div class="answer-section">
        <form method="post" enctype="multipart/form-data" class="form-container">
            {% csrf_token %}
            <div class="form-group">
                답변 : {{ form.answer_content }}
            </div>
            <button type="submit" class="submit-button">질문 등록</button>
        </form>
    </div>
{% endblock %}
