{% extends "noncategory_base.html" %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'inquiry/userQnA.css' %}">
{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <h1>내가 등록한 상품문의 내역</h1>
    <table>
        <thead>
            <tr>
                <th>제목</th>
                <th>상품</th>
                <th>작성일</th>
                <th>내용</th>
                <th>답변</th>
            </tr>
        </thead>
        <tbody>
            {% for question in user_questions %}
                <tr>
                    <td>{{ question.question_title }}</td>
                    <td>{{ question.product }}</td>
                    <td>{{ question.question_date }}</td>
                    <td>{{ question.question_content }}</td>
                    <td>
                        {% if question.answer_set.all %}
                            <ul>
                                {% for answer in question.answer_set.all %}
                                    <li>{{ answer.answer_content }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            아직 답변이 달리지 않았습니다.
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5" class="empty-message">등록된 상품문의 내역이 없습니다.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
