<h1>{{ user_profile.user.username }}'s Profile</h1>


{% if user.is_authenticated %}
    {% if is_following %}
        <form action="{% url 'unfollow' user_profile.user.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Unfollow</button>
        </form>
    {% else %}
        <form action="{% url 'follow' user_profile.user.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Follow</button>
        </form>
    {% endif %}
{% endif %}
