{% extends "noncategory_base.html" %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'inquiry_support/question.css' %}">
{% endblock %}

{% block content %}
    <div class="title-container">
        <h2>고객센터 문의</h2>
    </div>
    <div class="form-container">
            <form method="post" action="{% url 'support:store_question' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="submit-button">질문 등록</button>
            </form>
        </div>
    </div>
{% endblock %}
