{% extends "store_base.html" %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'support/QnA_detail.css' %}">
{% endblock %}

{% block content %}

    <h1>고객센터 - 질문 & 답변 </h1>
    
    <!-- Box for Question -->
    <div class="box">
        <h2>{{ question.question_title }}</h2>
        <p>{{ question.question_content }}</p>
        <small>등록일: {{ question.question_date }}</small>
        <hr>
    </div>

    {% if question.answers.exists %}
        <!-- Box for Answers -->
        <div class="box">
            <h3>답변</h3>
            {% for answer in question.answers.all %}
                <p>{{ answer.answer_content }}</p>
                <small>등록일: {{ answer.answer_date }}</small>
            {% endfor %}
        </div>
    {% else %}
        <div class="box">
            <p>아직 답변이 등록되지 않았습니다.</p>
        </div>
    {% endif %}
    
    <a href="{% url 'support:store_list' %}"><button>목록으로 돌아가기</button></a>
{% endblock %}
