{% extends "noncategory_base.html" %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'inquiry_support/home.css' %}">
{% endblock %}

{% block content %}
    <div class="title-container">
        <h2>고객센터</h2>
    </div>
    <section id="faq">
        <h2>자주 묻는 질문 (FAQ)</h2>
        <br>
        <div>
            <h3>질문 1: 배송 기간은 얼마나 걸리나요?</h3>
            <p>- 보통 배송은 3-5일이 소요됩니다.</p>
        </div>
        <div>
            <h3>질문 2: 반품/교환상품 수거 방법에는 어떤 것들이 있나요?</h3>
            <p>- 판매자 계약택배 자동 수거: 파트너사가 직접 택배사에 접수하여 반품 수거 진행</p>
            <p>- 고객배송 택배: 구매자가 반품요청 시점에 이미 택배사에 접수하여 반품 진행</p>
        </div>
        <!-- 추가 FAQ 항목들 -->
    </section>

    <section id="one-to-one">
        <h2>1대1 질문하기</h2>
        <a href="{% url 'support:store_question' %}">1대1 질문하기</a>
        <a href="{% url 'support:store_list' %}">질문 목록</a>
    </section>

{% endblock %}
