{% extends "noncategory_base.html" %}

{% block content %}
<style>
    .button-box {
      display: inline-block;
      padding: 5px 5px;
      border: 2px solid #4a4a4a;
      background-color: #fff;
      border-radius: 5px;
    }
    p {
      text-align: left;
      font-size: 24px;
      font-weight: bold;
    }
</style>

<p>비밀번호가 성공적으로 변경되었습니다!</p>
<br>
<div class="custom-button">
  <a href="{% url 'logistics:main' %}">
    <div class="button-box">Home</div>
  </a>
</div>

{% endblock %}

