<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
</head>
<body>
    <h1>로그인</h1>
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Login">
    </form>
    <p>가입하지 않았다면?</p>
    <a href="{% url 'customer-signup' %}">고객 회원가입</a><br>
    <a href="{% url 'store-signup' %}">스토어 회원가입</a>
</body>
</html>