{% extends "store_base.html" %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/user/store_home.css' %}">
{% endblock %}

{% block content %}
<h3>정산내역</h3>
<p>정산내역 연결</p>

<br>

<h3>새로 등록한 상품</h3>
<div class="products">
  {% for product in products %}
    <div class="product">
      <img src="{{ product.product_img.url }}" alt="{{ product.product_name }}">
      <a href="{{ product.get_absolute_url }}"><h6>{{ product.product_name }}</h6></a>
      <p>{{ product.product_price }}원</p>
    </div>
  {% empty %}
    <p>등록된 상품이 없습니다.</p>
  {% endfor %}
</div>


<br>

<h3>상품문의</h3>
<p>상품문의 게시판 연결</p>
{% endblock %}