{% extends "noncategory_base.html" %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'support/home.css' %}">
{% endblock %}

{% block content %}
    <div class="title-container">
        <h2>고객센터</h2>
    </div>

    <section id="faq">
        <h2>자주 묻는 질문 (FAQ)</h2>
        <div>
            <h3>질문 1: 배송 기간은 얼마나 걸리나요?</h3>
            <p>답변: 보통 배송은 3-5일이 소요됩니다.</p>
        </div>
        <div>
            <h3>질문 2: 반품 정책은 어떻게 되나요?</h3>
            <p>답변: 상품 수령 후 7일 이내에 반품이 가능합니다.</p>
        </div>
        <div>
            <h3>질문 3: 고객센터의 상담 시간을 알고 싶어요.</h3>
            <p>답변: 고객센터 전화번호 : 1122-3344<br>
                상담 시간 : 평일 오전 9시 30분 ~ 오후 6시 
                (점심시간 : 오전 11시 30분 ~ 오후 1시 30분 / 주말, 공휴일 휴무)
            </p>
        </div>
        <div>
            <h3>질문 4: 교환/반품시 배송비는 어떻게 되나요?</h3>
            <p>답변: 단순 변심으로 인한 교환/환불 시 왕복 배송비 발생 됩니다.<br>
                제품 불량으로 인한 교환/환불 시 배송비는 발생되지 않습니다.
            </p>
        </div>
        <div>
            <h3>질문 5: 택배운송장번호 조회가 안돼요!</h3>
            <p>답변: 택배업체에서 수거후 택배터미널에서 바코드 스캔후부터 택배조회가 가능합니다.<br>
                다음날 점심이후에 조회하시면 택배이동내역 확인가능합니다.
            </p>
        </div>
        <!-- 추가 FAQ 항목들 -->
    </section>

    <section id="one-to-one">
        <h2>1대1 질문하기</h2>
        <a href="{% url 'support:customer_question' %}">1대1 질문하기</a>
        <a href="{% url 'support:customer_list' %}">질문 목록</a>
    </section>

{% endblock %}
