{% extends "customer_base.html" %}

{% block content %}
<div>
    {% with page_title='상품 목록' %}
        <h3>{{ page_title }}</h3>
    {% endwith %}
</div>

<div>
    <table style="width: 100%; border-collapse: collapse;">
        <thead>
            <tr style="background-color: #f2f2f2;">
                <th style="border: 1px solid #ddd; text-align: center;">상품명</th>
                <th style="border: 1px solid #ddd; text-align: center;">가격</th>
                <th style="border: 1px solid #ddd; text-align: center;">수량</th>
                <th style="border: 1px solid #ddd; text-align: center;">총 금액</th>
                <th style="border: 1px solid #ddd; text-align: center;">배송 상태</th>
                <th style="border: 1px solid #ddd; text-align: center;">주문 취소</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td style="border: 1px solid #ddd; text-align: center;">{{ order.product.product_name }}</td>
                <td style="border: 1px solid #ddd; text-align: center;">{{ order.product.product_price }}</td>
                <td style="border: 1px solid #ddd; text-align: center;">{{ order.amount }}</td>
                <td style="border: 1px solid #ddd; text-align: center;">{{ order.price }}</td>
                <td style="border: 1px solid #ddd; text-align: center;">미정</td>
                <td style="border: 1px solid #ddd; text-align: center;">
                    <a href="{% url 'orders:delete_order' order.id}">
                        <button>주문 취소</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}