{% extends "customer_base.html" %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'order/list.css' %}">
{% endblock %}

{% block content %}
<div>
    {% with page_title='상품 목록' %}
        <h3>{{ page_title }}</h3>
    {% endwith %}
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>상품명</th>
                <th>가격</th>
                <th>수량</th>
                <th>총 금액</th>
                <th>배송 상태</th>
                <th>주문 취소</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.product.product_name }}</td>
                <td>{{ order.product.product_price }}</td>
                <td>{{ order.amount }}</td>
                <td>{{ order.price }}</td>
                <td>미정</td>
                <td>
                    <a href="{% url 'orders:delete_order' order.id %}">
                        <button type="button">취소</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
