/* 웹 폰트 임포트 */
.nanum-gothic-regular {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}


body {
    font-family: "Nanum Gothic", Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* 테이블 스타일 */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

thead {
    background-color: #f2f2f2;
}

/* 헤더 스타일 */
.title-container {
    background-color: #fff; /* 상단 배경 색상 */
    color: #333; /* 텍스트 색상 */
    padding: 20px;
    text-align: left;
    margin-bottom: 20px; /* 하단 여백 */
    border-bottom: 2px solid #3f3f3f; /* 검은색 밑줄 */
}


.title-container h2 {
    font-size: 32px; /* 글자 크기 조정 */
    font-weight: bolder;
    margin-bottom: 5px; /* 하단 여백 */
}

/* 답변 없는 경우 메시지 스타일 */
.empty-message {
    text-align: center;
    color: #666;
    font-style: italic;
}

/* 답변 리스트 스타일 */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

/* 테이블 행 hover 스타일 */
tbody tr:hover {
    background-color: #e0e0e0;
}


.product-buttons {
    text-align: center;
}

.product-buttons a {
    text-decoration: none;
}

.product-buttons button {
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
}

.product-buttons button:hover {
    background-color: #000;
}
