#wrap {
    width: auto;
    /* width: 900px; */
    margin: 0 auto;
    background: #ddd;
    padding: 10px;
}


header{
    height: auto;
    display: flex;
    justify-content: center;
    border-bottom: 1px;
    background-color: rgb(240, 235, 166);
}

#header{
    width: 1800px;
    height: 100%;
    text-align: center; /*가운데 정렬합니다. */
}


#header h1 {
    font-size: 50px;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.login-menu ul {
    width: 150px;
    list-style: none; /* 리스트 스타일 제거 */
    padding: 0; /* 기본 패딩 제거 */
    margin: 0; /* 기본 마진 제거 */
    display: flex; /* flexbox 사용 */

}

.login-menu li {
    display: inline-block; /* 리스트 항목을 인라인 블록 요소로 표시 */
    margin-right: 10px; /* 오른쪽 마진 추가 */
}

.login-menu li:last-child {
    margin-right: 0; /* 마지막 항목의 오른쪽 마진 제거 */
}

.login-menu a {
    text-decoration: none; /* 링크 밑줄 제거 */
    color: #000; /* 링크 색상 설정 */
}

.login-menu a:hover {
    text-decoration: underline; /* 링크에 마우스를 올렸을 때 밑줄 추가 */
}



#nav, #container, .content, #aside, #footer {
    padding: 10px;
    background: #fdd; /* header */
}

#nav {
    background: #dfd;
}

#container {
    background: #ddf;
    display: flex; /* 부모 요소를 flex로 설정 */
}

.content, #aside {
    height: 100%;
    background: #eee; /* content */
}

.content {
    flex: 0.98; /* 자식 요소가 부모 요소의 남은 공간을 차지하도록 설정 */
}

#aside {
    width: 180px;
    height: 200%;
    background: #fef;
    float: left;
}

#aside li {
    display: inline-block; /* 리스트 항목을 인라인 블록 요소로 표시 */
    margin-right: 10px; /* 오른쪽 마진 추가 */
}


#footer {
    background: #ffe;
    text-align: center; 
}

.content {
    width: auto;
    height: auto;
    float: middle;
    margin: 0 auto;
    
}

#container::after {
    content: "";
    display: block;
    clear: both;
}

#nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav li {
    background: #eee;
    padding: 10px;
    display: inline-block;
}

.products {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 740px;
    text-align: center;
}

.products img{
    width: 225px;
    height: 225px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.products a{
    text-decoration: none;
    color: black;
    float: left;
    font-size: 16px;
}

.price{
    margin-top: 4px;
    margin-bottom: 80px;
}

.clearfix{
    clear: both;
}
  