<div>
    <h1><span style="border-bottom: 12px solid #dcf1fb; padding: 0 0 0 0.2em;">상품 삭제 확인</span></h1>
    <h3>다음 상품을 삭제하시겠습니까?</h3>
    <p><strong>상품명:</strong> {{ object.product_name }}</p>
    <p><strong>가격:</strong> {{ object.product_price }}</p>
    <p><strong>재고:</strong> {{ object.product_inventory }}</p>
    <p><strong>상세 설명:</strong> {{ object.product_description }}</p>
    
    {% comment %} <form style="display: inline-block;" action="{% url 'logistics:delete_product' pk=object.pk %}" method="post">
        {% csrf_token %}
        <button style="background-color: 
        #ff4d4d; color: #fff; 
        border: none; padding: 
        8px 16px; text-align: center; 
        display: inline-block; border-radius: 
        4px; cursor: pointer;">삭제</button>
    </form> {% endcomment %}

    <form action="." method="post">{% csrf_token %}
        <input type="submit" value="Confirm" class="btn btn-danger btn-sm" />
    </form>
    
    <button onclick="window.location.href='{% url 'logistics:del_list' %}'" 
        >뒤로 가기</button>

</div>
