<div>
    <h1><span style="background: linear-gradient(to right, #ffa7a3, #5673bd); 
        padding: 0.43em 1em; font-size: 19px; border-radius: 3px; color: #ffffff;">상품 삭제 확인</span></h1>
    <p>다음 상품을 삭제하시겠습니까?</p>
    <p><strong>상품명:</strong> {{ object.product_name }}</p>
    <p><strong>가격:</strong> {{ object.product_price }}</p>
    <p><strong>재고:</strong> {{ object.product_inventory }}</p>
    <p><strong>상세 설명:</strong> {{ object.product_description }}</p>
    
    <form action="" method="post">
        {% csrf_token %}
        <button type="submit">삭제</button>
    </form>
</div>
