{% extends "noncategory_base.html" %}
{% load humanize %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'logistics/detail.css' %}">
{% endblock %}


{% block content %}
<div class="product-detail">
    <img src="{{ product.product_img.url }}" alt="{{ product.product_name }}">
    <div class="product-info">
        <h1><strong>{{ product.product_name }}</strong></h1>
        <h5 class="discount-info">{{ product.product_sale }}% <del>{{ product.product_price|intcomma }}원</del></h5>
        <h2><strong>{{ discounted_price|floatformat:0|intcomma }}</strong> 원</h2>
        <p>{{ product.product_description }}</p>
        <a href="{% url 'users:cus_store_home' product.store.pk %}" class="store-button">Store</a>
        <form class="horizontal-form" action="{% url 'orders:order' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                {% if product.product_inventory %}
                    <input class="form-control" type="number" name="amount" id="amount1" min="1" value="1" placeholder="수량">
                {% else %}
                    <button class="form-control btn btn-dark" disabled>품절</button>
                {% endif %}
            </div>
            <div class="form-group">
                {% if product.product_inventory %}
                    <button class="form-control btn btn-dark" type="submit" name="product" value="{{ product.id }}">바로구매</button>
                {% endif %}
            </div>
        </form>
        <form class="horizontal-form" action="{% url 'cart:add_to_cart' product.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                {% if product.product_inventory %}
                    <button class="form-control btn btn-dark" type="submit">담기</button>
                {% endif %}
                    <input type="hidden" name="amount" id="amount2" min="1" value="1" placeholder="수량">
            </div>
        </form>
        <br>
        <a href="{% url 'inquiry:question_create' %}" class="btn btn-dark">상품문의 작성</a>
        <a href="{% url 'inquiry:customer_list' %}" class="btn btn-dark">작성한 상품문의 확인하기</a>
    </div>
</div>

<script>
    document.getElementById('amount1').addEventListener('change', function() {
        let amount = this.value;
        document.getElementById('amount2').value = amount;
    });
</script>

{% endblock %}
