<!-- logistics/product_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
</head>
<body>
    <div class="container">
        <h2>Product List</h2>
        <!-- Product List -->
        <ul>
            {% for product in object_list %}
                <li>{{ product.product_name }} - {{ product.product_price }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>



