{% extends 'store_base.html' %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'inquiry_support/question.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="title-container">
        {% with page_title="상품 수정" %} 
            <h2><strong>{{ page_title }}</strong></h2> 
        {% endwith %}
    </div>

    <form method="post" enctype="multipart/form-data" class="form-container">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="submit-button">수정완료</button>
    </form>
</div>

{% endblock %}