{% extends "customer_base.html" %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/customer/home.css' %}">
{% endblock %}

{% block content %}
<h3><a href="{% url 'orders:display_orders' %}">구매내역</a></h3>
<div class="orders">
    {% for order in orders %}
        <div class="order">
            <img src="{{ order.product.product_img.url }}" alt="{{ order.product.product_name }}">
            <a href="{{ order.product.get_absolute_url }}"><h6>{{ order.product.product_name }}</h6></a>
            <p>{{ order.amount }}</p>
        </div>
    {% empty %}
        <p>구매한 상품이 없습니다.</p>
    {% endfor %}
</div>
{% endblock %}
