{% extends "customer_base.html" %}

{% block content %}
<style>
    .orders {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: left;
    }
    .order {
        border: 1px solid #ccc;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        width: 200px;
        height: 280px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }
    .orders a {
        text-decoration: none;
        color: black;
        border: none;
    }
    .order img {
        width: 100%;
        max-height: 150px;
        object-fit: cover;
    }
    .order h6 {
        background-color: #f7f7f7;
        width: 100%;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        font-size: 14px;
        margin: 0;
    }
    .order p {
        padding: 0 10px;
        margin: 10px 0;
        font-size: 15px;
        text-align: right;
        width: 100%;
    }
</style>

<h3><a href="{% url 'orders:display_orders' %}">구매내역</a></h3>
<div class="orders">
    {% for order in orders %}
        <div class="order">
            <img src="{{ order.product.product_img.url }}" alt="{{ order.product.product_name }}">
            <a href="{{ order.product.get_absolute_url }}"><h6>{{ order.product.product_name }}</h6></a>
            <p>{{ order.amount }}</p>
        </div>
    {% empty %}
        <p>구매한 상품이 없습니다.</p>
    {% endfor %}

</div>

<br>

<h3>장바구니</h3>
<p>장바구니 게시판 연결</p>

<br>

<h3>내가 작성한 글</h3>
<div class="community-posts">
    {% if community_posts %}
        <div class="row">
            {% for post in community_posts %}
                <div class="col-md-3 mb-4">
                    <div class="card mb-3 box-shadow" style="width: 300px; height: 270px;">
                        <img class="card-img-top" src="{{ post.community_img.url }}" alt="{{ post.community_title }}" style="width: 300px; height: 180px; object-fit: cover; display: block;">
                        <div class="card-body">
                            <h5 class="card-text">
                                <!--  게시글 제목 클릭하면 상세 페이지로 이동 -->
                                <a href="{% url 'community:post_detail' pk=post.pk %}" style="text-decoration: none; color: inherit;">
                                    {{ post.community_title }}
                                </a>
                            </h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <p>
                                    <i class="bi bi-heart-fill" style="color: red;"></i>
                                    <small class="text-muted">{{ post.community_like }}</small>
                                </p>
                                <p><small class="text-muted">{{ post.community_date|date:'Y년 m월 d일' }}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 and not forloop.last %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <p>현재 작성한 글이 없습니다.</p>
    {% endif %}
</div>




{% endblock %}