.nanum-gothic-regular {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Nanum Gothic", Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 20px;
}

.card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.card img {
    border-bottom: 1px solid #ddd;
    height: 220px;
}

.card-body {
    padding: 15px;
    flex: 1;
}

.card-title a {
    color: #000;
    text-decoration: none;
}

.card-title a:hover {
    color: #007bff;
}

.bi-heart-fill {
    color: red;
}

.pagination {
    margin-bottom: 0;
}

.pagination .page-item .page-link {
    color: #000;
    font-weight: bold; /* 텍스트를 좀 더 강조할 수 있도록 폰트 굵기를 추가합니다 */
    transition: color 0.3s ease; /* 호버 효과가 부드럽게 적용되도록 transition을 추가합니다 */
}

.pagination .page-item .page-link:hover {
    color: #111; /* 호버 시 더 진한 검은색으로 변경합니다 */
    text-decoration: none; /* 호버 시 기본 밑줄을 제거합니다 */
}

.pagination .page-item.active .page-link {
    background-color: #000;
    border: none; /* 테두리를 없앱니다 */
    color: #fff; /* 활성화된 페이지 링크의 텍스트 색상을 흰색으로 설정합니다 */
}

