<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Order</title>
</head>
<body>
    <h1>Create Order</h1>
    <form action="{% url 'create_order' %}" method="post">
        {% csrf_token %}
        <label for="order_number">Order Number:</label><br>
        <input type="text" id="order_number" name="order_number"><br>
        <label for="customer_name">Customer Name:</label><br>
        <input type="text" id="customer_name" name="customer_name"><br><br>
        <button type="submit">Create Order</button>
    </form>
</body>
</html>
