/* success_page.css */

.button-box {
    display: inline-block;
    padding: 5px 5px;
    border: 2px solid #4a4a4a;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .success-message {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
  }
  